@import "tailwindcss";

html, body {
  background-color: #fafaf9; /* Warna Stone-50 */
  color: #1f2937; /* Gray-800 */
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html {
  -webkit-text-size-adjust: 100%; 
  text-size-adjust: 100%;
}

body {
  overflow-x: hidden; 
}
@media (min-width: 1024px) {
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
    width: 0;
    height: 0;
  }
}
